* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #01bba2;
  color: #000000;
  line-height: 1.6;
}

p {
  font-size: 18px;
  width: fit-content;
  margin-top: 10px;
  margin-left: auto;
  color: #fff;
}

hr {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 3px;
  background-color: #cecece;
  margin: 0;
  padding: 1px;
  border: none;
}

h1 {
  text-align: center;
  margin: 20px 0 50px;
  color: #fff;
}

.disabled {
  cursor: none;
  opacity: 0.6;
}

.icon {
  font-size: 20px;
  font-weight: bolder;
}

.progress-bar {
  display: flex;
  justify-content: center;
}

.step {
  width: 15%;
  transition: background-color 0.3s ease-in-out;
}

.step .top-content {
  position: relative;
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.step:first-child {
  width: auto;
}

.step:last-child p,
.step:first-child p {
  margin-right: 14px;
}

.step:first-child .top-content hr {
  display: none;
}

.step .icon-box {
  background-color: #cecece;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #cecece;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 10;
}

.step.active .icon-box {
  background-color: rgb(25, 221, 139);
  border: 3px solid aqua;
  color: #000000;
}

.step.active .top-content hr {
  background-color: aqua;
}

/* .step .top-content hr {

} */

/* Button container styles */
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.btn {
  background-color: aqua;
  border: 1px solid #000000;
  color: #000000;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  p {
    font-size: 16px;
  }

  .step {
    width: 20%;
  }

  .step .icon-box {
    width: 30px;
    height: 30px;
  }
}